.gestionUtilisateur {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .greet {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .buttons button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background-color: #444;
  }

.usersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
  
  .user {
    background-color: black;
    color: white;
    border-radius: 10%;
    margin: 10px;
    flex: 0 0 100%;
    margin-bottom: 20px;
    padding: 10%;
  }

  button {
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 1%;
    margin-bottom: 5%;
  }
  

  @media (min-width: 600px) {
    .user {
        flex: 0 0 calc(50% - 20%);
    }
}

@media (min-width: 900px) {
    .user {
        flex: 0 0 calc(33.33% - 20%);
    }
}

.input {
  width: 50%;  
  padding: 5px;
    margin: 5px; 
    border-radius: 50px; 
    border: 1px solid black;
}


.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.createUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2%;
  border: black 1px solid;
}


.createUser .submit {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

a.modif {
  background-color: grey;
  color: white;
  padding: 1px 10px;
  border-radius: 5px;
  text-decoration: none; /* Removes the default underline of links */
  display: inline-block; /* Allows padding to be applied */
  cursor: pointer;
}

a.modif :hover {
  background-color: #444;
}

.usersContainer {
  border-radius: 20px; /* Rounded corners */
  box-shadow: 1 px 8px rgba(0, 0, 0, 0.1); /* Slight shadow */
}

.custom-table {
  table-layout: fixed;
  width: 100%;
}

.custom-table th,
.custom-table td {
  font-family: 'roboto', sans-serif; /* Smoother text */
}

.custom-table td {
  overflow: hidden;
  white-space: nowrap;
}

.long-column {
  overflow-x: hidden;
}

.long-column:hover {
  overflow-x: auto;
  white-space: nowrap;
}

.narrow-column {
  width: 75px;
}

.seminarrow-column {
  width: 200px;
}

.tableWrapper {
  width: 100%; /* Set the width of the wrapper */
  overflow-y: auto; /* Enable vertical scrolling */
}

.table-responsive {
  max-height: 500px;
  display: block;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.sticky-header th {
  position: sticky;
  top: 0;
  background-color: #fff; /* Set the background color for the sticky header */
  z-index: 1; /* Ensure the sticky header is on top of other elements */
}