.img {
    width: 600px;
    height: 400px;
}


@media (min-width: 600px) {
    .annonce {
        flex: 0 0 calc(50% - 20%);
    }
}

@media (min-width: 900px) {
    .annonce {
        flex: 0 0 calc(33.33% - 20%);
    }
}
    

.input {
    width: 50%;  
    padding: 5px;
      margin: 5px; 
      border-radius: 50px; 
      border: 1px solid black;
  }

.createAnnonce {
    margin-top: 5%;
    margin-bottom: 3%;
    border: 1px solid black;
}

#searchBar {
    margin-bottom: 1%;
}

.submit {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 2%;
}


.filters {
    align-items: flex-start;
  }
  
  .filter-section {
    display: block;
    margin-bottom: 20px;
  }
  
  .filter-section h5 {
    margin-bottom: 5px;
  }
  
  .filter-section select,
  .filter-section label {
    margin-right: 10px;
  }
  
  .filter-section input[type="checkbox"] {
    margin-right: 5px;
  }

.typeDePropriete {
    margin: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
}

.equipments {
    margin: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
}

.equipments label {
    margin: 10px;
}

.filters {
    margin: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
}

hr {
    border: 1px solid black;
    margin: 50px;
}
  
  