 .app {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 15%;
}

.footer {
 padding-bottom: 20%;
 padding-top: 30%;
}


.loader-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; 
 }